# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = news.settings

[deploy]
#url = http://118.25.181.239:6800
project = news
